.title {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.title h2 {
  margin: 0;
  margin-left: 10px;
}

.description {
  font-size: 15px;
  margin-top: 10px;
}

.bottom {
  font-size: 12px;
  margin-top: 10px;
}

.top {
  color: #6e00ff;
  font-size: 14px;
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  width: 70px;
}

.content {
  padding: 10px 20px;
}

.card {
  width: 360px;
  box-shadow: none !important;
  font-family: "Poppins", sans-seirf;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(228, 228, 228, 0.3);
}

@media (max-width: 400px) {
  .card {
    width: 100%;
  }

  .icon {
    width: 40px;
  }

  .title {
    font-size: 12px;
  }
}
