.icon {
  margin-left: 2px;
}

.button {
  background-position: center;
  transition: background 0.8s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.button:hover {
  background: rgb(240, 240, 240)
    radial-gradient(circle, transparent 1%, rgba(240, 240, 240, 0.5) 1%)
    center/15000%;
}
.button:active {
  background-color: rgba(201, 201, 201, 0.8);
  background-size: 100%;
  transition: background 0s;
}
