.card {
  width: 360px;
  box-shadow: none !important;
  font-family: "Poppins", sans-seirf;
  transition: ease-out 0.5 all;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 400px) {
  .card {
    width: 100%;
  }
}
