.card {
  width: 360px;
  box-shadow: none !important;
  font-family: "Poppins", sans-seirf;
  transition: all 0.2s ease-in-out !important;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 400px) {
  .card {
    width: 100%;
  }
}
