.container {
  margin: auto;
}

.metaContainer {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.metaOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-shadow: 2px 2px 10px #000;
}

.metaCenter {
  max-width: 1080px;
  margin: auto;
}

.backMeta,
.metaText > p {
  margin: 0;
  color: white;
  max-width: 750px;
  z-index: 10;
}

.backMeta {
  display: flex;
}

.metaText > p:first-child {
  font-size: 3rem;
  font-weight: bold;
  margin-top: auto;
  line-height: 1.2;
  margin-bottom: 15px;
}

.metaText {
  position: absolute;
  bottom: 20px;
}

.backMeta > div > p {
  margin: 0;
  margin-left: 10px;
}

.backIcon {
  cursor: pointer;
  filter: drop-shadow(1px 1px 4px black);
}

.mdContainer {
  min-height: calc(100vh - 500px);
  max-width: 1080px;
  margin: auto;
}

.mdContainer a {
  color: #0070f3;
}

.mdContainer > h2:nth-child(2) {
  display: none;
}

@media (max-width: 600px) {
  .metaContainer {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .metaText > p:first-child {
    font-size: 1.6rem;
    margin-right: 10px;
  }
}

@media (max-width: 1100px) {
  .metaText > p {
    margin: 0;
    margin-left: 20px;
  }

  .backMeta {
    margin: 0;
    margin-left: 20px;
  }
}

@media (max-width: 1120px) {
  .mdContainer {
    margin-left: 20px;
    margin-right: 20px;
    min-height: calc(100vh - 400px);
  }
}
