.container {
  margin: auto;
  margin-top: 60px;
}

.metaContainer {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  text-shadow: 2px 2px 10px #000;
  background: radial-gradient(
    ellipse,
    rgba(181, 60, 255, 1) 20%,
    rgba(111, 24, 198, 1) 100%
  );
}

.metaCenter {
  max-width: 1150px;
  margin: auto;
}

.metaText > p {
  margin: 0;
  color: white;
  max-width: 750px;
  z-index: 10;
}

.backMeta {
  display: flex;
}

.metaText > p:first-child {
  font-size: 3rem;
  font-weight: bold;
  margin-top: auto;
  line-height: 1.2;
  margin-bottom: 20px;
}

.metaText {
  position: absolute;
  bottom: 30px;
}

.backMeta p {
  margin: 0;
}

.backMeta {
  margin-top: 10px;
}

.backIcon {
  cursor: pointer;
  filter: drop-shadow(1px 1px 4px black);
  width: 40px;
  height: 40px;
  color: white;
}

.mdContainer {
  min-height: calc(100vh - 500px);
  max-width: 1150px;
  margin: auto;
}

.mdContainer a {
  color: #0070f3;
}

.tableContainer {
  max-width: 100%;
  overflow-x: auto;
}

.tableContainer table {
  min-width: 320px;
}

@media (max-width: 600px) {
  .metaContainer {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .metaText > p:first-child {
    font-size: 1.6rem;
    margin-right: 10px;
  }
}

@media (max-width: 1190px) {
  .mdContainer {
    margin-left: 20px;
    margin-right: 20px;
    min-height: calc(100vh - 400px);
  }
}

@media (max-width: 1170px) {
  .metaText {
    margin: 0;
    margin-left: 20px;
  }
}
