.filter {
  display: grid;
  grid-template-columns: 835px 400px;
  gap: 35px;
  margin-top: 30px;
}

.search {
  padding: 0.8rem;
  font-size: 1rem;
  width: 835px;
  outline: none;
}

.filter > select {
  padding: 0.8rem;
  width: 400px;
  font-size: 1rem;
}

.filter > select:focus {
  outline: none;
}

.filter > select,
.search {
  height: 60px;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 6px;
  background: white;
}

@media (max-width: 1345px) {
  .filter {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
  }

  .search {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .filter {
    grid-template-columns: 600px;
    gap: 10px;
  }

  .search,
  .filter > select {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .search {
    padding: 0.6rem;
    font-size: 0.9rem;
    width: 350px;
  }

  .filter > select {
    padding: 0.6rem;
    width: 350px;
  }

  .filter {
    grid-template-columns: 350px;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 380px) {
  .filter {
    grid-template-columns: 280px;
  }

  .search {
    width: 280px;
  }

  .filter > select {
    width: 280px;
  }
}
